{% macro render(src, alt, class, isClickable) %}

    {#{% set class = class ~ ' x-subscribe-button' %}#}

    {% if isClickable %}
        {% if isIdentified() %}
            {% set href = url('subscription.subscribe') %}
        {% elseif isConsentFlow() %}
            {% set href = url('subscription.consent_page_subscribe') %}
        {% elseif isWifiFlow() %}
            {% set href = url('landing') %}
        {% else %}
            {% set href = url('identify_and_subscribe') %}
        {% endif %}

        <a href="{{ href }}" class="x-subscribe-image">
            <img {% if class %}class="{{ class }}"{% endif %} src="{{ src }}" alt="{{ alt }}"/>
        </a>
    {% else %}
        <img {% if class %}class="{{ class }}"{% endif %} src="{{ src }}" alt="{{ alt }}"/>
    {% endif %}

    {% if isClickable %}
        <script type="text/javascript">
            $(document).on('click', '.x-subscribe-image', function (e) {
                if($('.x-otp-button').length) {
                    e.preventDefault();
                    firstClickOtpBtn()
                } else {
                    $._loader(false);
                }
            })
        </script>
    {% endif %}

{% endmacro render %}