{% macro render(video, category) %}
    <div class="d-flex flex-row related-video x-play-button"
         data-uuid="{{ video.uuid }}"
         data-public-id="{{ video.publicId }}"
         data-category="{{ category.uuid }}">
        <div class="related-video-thumbnail-wrapper">
            {% for thumbnail in video.thumbnails | slice(0,1) %}
                <img src="{{ thumbnail }}" />
            {% endfor %}
            <div class="category__related__box-play"></div>
        </div>
        <div class="related-video-title align-items-center d-flex">
            {{ video.title }}
        </div>
    </div>
{% endmacro %}