{% macro render(video, category) %}
    <div class="d-flex flex-column video-element x-play-button"
         data-public-id="{{ video.publicId }}"
         data-uuid="{{ video.uuid }}"
         data-category="{{ category }}">
        {# this div for flex working same column height #}
        <div class="thumbnail-wrapper">
            <img src="{{ video.thumbnails[0] }}"
                 alt="{{ video.uuid }}"
            />
            <div class="category__related__box-play"></div>
        </div>
        <div class="video-element-title">{{ video.title }}</div>
    </div>
{% endmacro %}