{{ form_start(form) }}
<div class="form-group" style="margin-left: 20px">
    <div class="row">
        <div class="col">{{ form_label(form.campaign) }}</div>
        <div class="col">{{ form_errors(form.campaign) }}</div>
        <div class="col">{{ form_widget(form.campaign, { 'attr': {'class': 'form-control'} }) }}</div>
    </div>
</div>
<div class="form-group" style="margin-left: 20px">
    <div class="row">
        <div class="col">{{ form_label(form.period) }}</div>
        <div class="col">{{ form_errors(form.period) }}</div>
        <div class="col">{{ form_widget(form.period) }}</div>
    </div>
</div>
<div class="form-group" style="margin-left: 20px">
    <div class="row">
        <div class="col">{{ form_errors(form.usersCount) }}</div>
        <div class="col">{{ form_label(form.usersCount) }} {{ form_widget(form.usersCount) }}</div>
    </div>
</div>
<div class="form-group" style="margin-left: 20px">
    <div class="row">
        <input type="submit" class="btn btn-primary" value="Start" style="margin-top: 20px;"/>
    </div>
</div>
{{ form_end(form) }}