{% macro render() %}
    <div class="disclaimer-container" style="line-height: 15px">
        <p>{{ translate('disclaimer.landing.3g')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.1')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.2')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.3')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.4')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.5')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.6')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.7')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.8')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.9')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.10')|raw }}</p>
        <p>{{ translate('disclaimer.landing.3g.11')|raw }}</p>
    </div>
{% endmacro %}