{% macro render(videos) %}

    {% import "@App/Components/Blocks/Header/header_main.html.twig" as  header_main %}


    <link rel="stylesheet" href="{{ asset('css/player.css') }}">

    <div id="player-modal" class="flex-column player-modal-wrapper d-none player-modal" tabindex="-1">

        {{ header_main.render() }}

        <div class="d-flex flex-column player-modal-content">
            <div class="d-flex flex-shrink-0 close-modal-button-container x-close-modal-button align-items-center justify-content-end mb-2">
                <div class="close-modal-button-text">
                    {{ translate('player.close') }}
                </div>
                <div class="close-modal-button"></div>
            </div>

            <div class="">
                <video id="video-player-frame" controls class="cld-video-player cld-fluid"></video>
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row align-items-center justify-content-center modal-related-video-section-title-block">
                    <div class="separator_left"></div>
                    <div class="modal-related-video-section-title-text">
                        {{ translate('player.related_videos') }}
                    </div>
                    <div class="separator_right"></div>
                </div>
                <div class="modal-related-videos-block"></div>
            </div>
        </div>

        {#<div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex flex-column">

                        <div class="close-modal-button-container x-close-modal-button">
                            <div class="close-modal-button"></div>
                            <div class="close-modal-button-text">Close</div>
                        </div>

                        <div style="">
                            <video id="video-player-frame" controls muted
                                   class="cld-video-player cld-fluid"></video>
                        </div>

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row align-items-center justify-content-center modal-related-video-section-title-block">
                                <div class="separator_left"></div>
                                <div class="modal-related-video-section-title-text">
                                    Related videos
                                </div>
                                <div class="separator_right"></div>
                            </div>
                            <div class="modal-related-videos-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
    </div>
    <script>
        Handlebars.registerHelper('ifEquals', function (arg1, arg2, options) {
            return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
        });

        Handlebars.registerHelper('ifNotEquals', function (arg1, arg2, options) {
            return (arg1 != arg2) ? options.fn(this) : options.inverse(this);
        });

    </script>
    <script id="related-videos-block-template" type="text/x-handlebars">
        {% verbatim %}

            {{#each videos}}
                <div class="d-flex flex-row modal-related-video {{#ifEquals uuid ../current.uuid}}currently-playing{{/ifEquals}}" data-uuid="{{ uuid }}">
                        {{#each thumbnails}}
                            <div class="modal-related-video-thumbnail-wrapper">
                                {{#if @first}}
                                    <img src="{{ this }}"
                                        class="x-modal-play-button w-175px"
                                        data-uuid="{{ ../uuid }}"
                                        data-category="{{ ../../category }}"
                                    />
                                    <div class="category__related__box-play"></div>
                                {{/if}}
                            </div>
                        {{/each}}
                        <div class="align-items-center d-flex modal-related-video-title x-modal-play-button" data-uuid="{{ uuid }}" data-category="{{ ../category }}">
                            {{ title }}
                        </div>
                    </div>
                </div>
            {{/each}}
        {% endverbatim %}



    </script>

    {% if hasActiveSubscription() %}
        <script>


            var videos = {{ videos | json_encode | raw }};
            var trackEventRoute = '{{ url('track_video_percent_event') }}';

            $(window).on('load', function () {

                function makeCurrentlyPlaying(index) {
                    $('.modal-related-video').each(function () {
                        var elementIndex = $(this).attr('data-uuid');

                        if (index != elementIndex) {
                            $(this).removeClass('currently-playing')
                        } else {
                            $(this).addClass('currently-playing')
                        }
                    });
                }

                function openModal() {
                    $('#player-modal').addClass('d-flex');
                    $('html').css({'overflow-y': 'hidden'});
                }

                function closeModal() {
                    $('#player-modal').removeClass('d-flex');
                    $('html').css({'overflow-y': 'auto'});
                    demoplayer.stop();
                }

                var cld = cloudinary.Cloudinary.new({cloud_name: '{{ getCloudName() }}'});
                var demoplayer = cld.videoPlayer('video-player-frame', {playedEventPercents: [50]})
                    .sourceTypes(['hls'])
                    .transformation({streaming_profile: 'hd'});

                var changeVideo = function (element) {
                    console.log(element);
                    demoplayer.source(element);
                };


                demoplayer.on('percentsplayed', function (event) {

                    $.post(trackEventRoute, {
                        percent: event.eventData.percent,
                        video: demoplayer.currentPublicId()
                    });
                });


                $(document).on('click', '.x-play-button', function () {

                    openModal();

                    var index = $(this).attr('data-uuid');
                    var category = $(this).attr('data-category');

                    let videoElement = videos[category][index];
                    let relatedVideos = videos[category];

                    changeVideo(videoElement);
                    demoplayer.play();

                    var source = document.getElementById("related-videos-block-template").innerHTML;
                    var template = Handlebars.compile(source);
                    var html = template({
                        'videos': relatedVideos,
                        'category': category,
                        'current': videoElement,
                    });
                    $('.modal-related-videos-block').html(html);

                });

                $(document).on('click', '.x-modal-play-button', function () {
                    var index = $(this).attr('data-uuid');
                    var category = $(this).attr('data-category');

                    let videoElement = videos[category][index];

                    changeVideo(videoElement);
                    makeCurrentlyPlaying(index);
                    demoplayer.play();

                });

                $(document).on('click', '.x-close-modal-button', function () {
                    closeModal()
                });

            })
        </script>
    {% else %}
        <script>
            $(document).on('click', '.x-play-button', function () {
                window.location = '{{ path('landing') }}'
            })
        </script>
    {% endif %}

{% endmacro %}