{% macro render() %}
    {% import '@App/Components/Buttons/button.html.twig' as button %}

    {% set countriesCarriers = getCountryCarrierList() %}
    {% set countries = getCountries() %}
    {#TODO: IMPLEMENT CARRIER COLLECTIONS TOO #}
    {% set carrierCountry = getCarrierCountry() %}
    {% set carrierId = getCarrierId()  %}
    <div class="">
        <select name="country" class="w-75 mb-3 select" required>
            <option value="">{{ translate('wifi.form.select_country') }}</option>
            {% for country in countries %}
                <option value="{{ country.code }}" {% if carrierCountry and carrierCountry.code == country.code  %} selected {% endif %}>{{ country.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="">
        <select name="carrier_id" class="w-75 mb-3 select" required>
            <option value=''>{{ translate('wifi.form.select_carrier') }}</option>
            {% if carrierId and carrierCountry and carrierCountry.countryCarriers %}
                {% for carrier in carrierCountry.countryCarriers %}
                    <option value="{{ carrier.id }}" {% if carrier.id == carrierId %} selected {% endif %}>{{ carrier.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>

    {#<div id="wifi_button">#}
        {#{{ button.renderSubmitButton(translate('wifi.form.button.apply'), 'x-send-pin-button') }}#}
    {#</div>#}
{% endmacro %}