{% macro render() %}
    {% import '@App/Components/Buttons/button.html.twig' as button %}

    {% set countriesCarriers = getCountryCarrierList() %}
    <div class="">
        <select name="country" class="w-75 mb-3 select" required>
            <option value="">{{ translate('wifi.form.select_country') }}</option>
            {% for country, carriers in countriesCarriers %}
                <option data-carriers="{{ carriers }}" value="{{ country }}">{{ country }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="">
        <select name="carrier_id" class="w-75 mb-3 select" required>
            <option value=''>{{ translate('wifi.form.select_carrier') }}</option>
        </select>
    </div>

    {#<div id="wifi_button">#}
        {#{{ button.renderSubmitButton(translate('wifi.form.button.apply'), 'x-send-pin-button') }}#}
    {#</div>#}
{% endmacro %}