<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pixelIdentification</title>
    <link rel="stylesheet" href="{{ asset('bundles/identification/css/showPixel.css') }}">
</head>
<body>

<img class="hidden" src="{{ pixelUrl }}">

<img src="{{ asset('bundles/identification/img/ajax-loader.gif') }}" alt="">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {


        var statusActionUrl = '{{ statusActionUrl | raw }}';
        var successUrl      = '{{ successUrl | raw }}';
        var failureUrl      = '{{ failureUrl | raw }}';

        var i = 0;

        var sendRequest = function () {


            if (i > 5) {
                window.location.href = failureUrl;
                return;
            }

            i++;

            $.ajax({
                'url'     : statusActionUrl,
                'type'    : 'get',
                'dataType': 'json',
                'success' : function (response) {
                    if (response.result == true) {
                        console.log('success');
                        window.location.href = successUrl;
                    } else {
                        setTimeout(sendRequest, 3000);
                    }
                },
                'error'   : function (errorResponse) {
                    setTimeout(sendRequest, 3000);
                }
            });
        };

        sendRequest();

    });
</script>