{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block sonata_page_content %}
    <style>
        .loader {
            border: 2px solid #f3f3f3;
            border-top: 2px solid #3498db;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            animation: spin 2s linear infinite;
            position: absolute;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom" style="margin-top: 20px">
                    <ul class="nav nav-tabs">
                        {% for tabName, tabTitle in tabs%}
                            <li data-tab-action="{{ tabName }}" class="{{ activeTab == tabName ? 'active' }}">
                                <a style="cursor: pointer">{{ tabTitle }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active">
                            <div class="box-body container-fluid" id="tab-content">
                                {{ tabContent | raw }}
                            </div>
                        </div>
                    </div>
                    <span id="createUrl" hidden>{{ admin.generateUrl('unsubscribe_form') }}</span>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {
            var navtabs = $('.nav-tabs');
            var navTabItems = navtabs.find('li');

            navTabItems.click(function() {
                var url = $('#createUrl').text();
                var tabName = $(this).attr('data-tab-action');
                var data = {};
                var loader = $('<div class="loader"></div>');
                data[tabName] = '';
                navtabs.after(loader);

                $.ajax({
                    url: url,
                    method: 'POST',
                    data: data
                }).done(function(html) {
                    var tabContent = $(html).find(`form[name=${tabName}]`);

                    navtabs.find('.active').removeClass('active');
                    navtabs.find(`[data-tab-action=${tabName}]`).addClass('active');

                    $('#tab-content').html(tabContent);
                    $('select').select2();
                }).always(function () {
                    loader.remove();
                })
            })
        })
    </script>
{% endblock %}