{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}


    {% set icon %}

        <span class="sf-toolbar-value" style="display: inline-block;">
            {% if collector.currentIdentity.isp %}
                {{ collector.currentIdentity.isp.carrier_id }}
            {% endif %}
        </span>
    {% endset %}
    {% set text %}
        {% if collector.currentIdentity.isp %}
            <div class="sf-toolbar-info-piece">
                <b>Carrier</b>
                <span class="sf-toolbar-status">{{ collector.currentIdentity.isp.carrier_id }}</span>
            </div>
        {% endif %}
        <div class="sf-toolbar-info-piece">
            <b>Is Wifi Flow</b>
            <span class="sf-toolbar-status">{{ collector.currentIdentity.wifi_flow  ? 'Yes' : 'No' }}</span>
        </div>
        {% if collector.currentIdentity.identification and collector.currentIdentity.identification.identification_token %}
            <div class="sf-toolbar-info-piece">
                <b>Token</b>
                <span class="sf-toolbar-status">{{ collector.currentIdentity.identification.identification_token }}</span>
            </div>
            {% if collector.currentIdentity.user %}
                <div class="sf-toolbar-info-piece">
                    <b>Msisdn</b>
                    <span class="sf-toolbar-status">{{ collector.currentIdentity.user.identifier }}</span>
                </div>
            {% endif %}
        {% endif %}
        <div class="sf-toolbar-info-piece">
            <b>Identified</b>
            <span class="sf-toolbar-status">{{ collector.currentIdentity.user ? 'Yes' : 'No' }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Subscribed</b>
            <span class="sf-toolbar-status">{{ collector.currentIdentity.subscription ? 'Yes' : 'No' }}</span>
        </div>

    {% endset %}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': profiler_url }) }}
{% endblock %}

{% block panel %}
    <h2>Identification Debug</h2>

    {{ dump(collector.currentIdentity) }}
{% endblock %}


    {% block menu %}
        {# This left-hand menu appears when using the full-screen profiler. #}
        <span class="label">
        <strong>Identification Debug</strong>
        </span>

    {% endblock %}