{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}



    {% set icon %}
        <span class="sf-toolbar-value" style="display: inline-block;">
            Identification
        </span>
    {% endset %}

    {% set text %}

        <form id="fake-identity-form" action="{{ path('fake_identify') }}">
            Identify as:
            <br>
            <span class="sf-toolbar-label" style="width:150px">
                <input type="hidden" name="key" value="son74fat">
                <select name="ip" id="development-identify-popup" style="width:152px">
                    <option value="clear">Select Carrier</option>
                    {% for carrierId,data in getTestUserData() %}
                        <option value="{{ carrierId }}">
                            {{ data.name }} ({{ carrierId }})
                        </option>
                    {% endfor %}
                </select>
                <br>
            </span>
            <span class="sf-toolbar-label">
                <button id="clear_identify" class="sf-toolbar-status sf-toolbar-status-red">Clear Identify</button>
            </span>
        </form>



    {% endset %}

    {% block head %}
        <style>
            .sf-toolbar-status-blue {
                background-color: #0055a4;
                color: #FFF;
            }

            #clear_identify {
                margin-left: 5px;
            }
        </style>

    {% endblock %}



    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': false, 'status':'blue' }) }}
{% endblock %}
