{% extends base_template %}

{% block title %}
    {{ "Upload file" }}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="sonata-ba-form">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ block('title') }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form_widget(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well well-small form-actions form-actions-stuck">
            <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save"></i>
                Upload
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
