{% extends base_template %}

{% block title %}
    {{ 'Upload video' }}
{% endblock %}

{% block form %}
    <span hidden id="subCategoryUrl">{{ path('admin_app_domain_subcategory_subcategoriesList', {'mainId': 'paramMainId'}) }}</span>
    <div class="sonata-ba-form">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ block('title') }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form_start(form) }}
                                    <div class="form-group" style="margin: 15px 0">
                                        <div class="row">
                                            <div class="col-lg-12">{{ form_label(form.title) }}</div>
                                            <div class="col-lg-12">{{ form_errors(form.title) }}</div>
                                            <div class="col-lg-12">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin: 15px 0">
                                        <div class="row">
                                            <div class="col-lg-12">{{ form_label(form.mainCategory) }}</div>
                                            <div class="col-lg-12">{{ form_errors(form.mainCategory) }}</div>
                                            <div class="col-lg-12">{{ form_widget(form.mainCategory, { 'attr': {'class': 'form-control'} }) }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin: 15px 0">
                                        <div class="row">
                                            <div class="col-lg-12">{{ form_label(form.subcategory) }}</div>
                                            <div class="col-lg-12">{{ form_errors(form.subcategory) }}</div>
                                            <div class="col-lg-12">{{ form_widget(form.subcategory, { 'attr': {'class': 'form-control'} }) }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin: 15px 0">
                                        <div class="row">
                                            <div class="col-lg-12">{{ form_errors(form.description) }}</div>
                                            <div class="col-lg-12">{{ form_label(form.description) }}</div>
                                            <div class="col-lg-12">{{ form_widget(form.description, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin: 15px 0">
                                        <div class="row">
                                            <div class="col-lg-12">{{ form_errors(form.expiredDate) }}</div>
                                            <div class="col-lg-12">{{ form_label(form.expiredDate) }}</div>
                                            <div class="col-lg-12">{{ form_widget(form.expiredDate, { 'attr': {'class': 'form-control'} }) }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin: 15px 0">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                {{ form_errors(form.isTrim) }}
                                                <span style="margin-right: 10px">{{ form_label(form.isTrim) }}</span>
                                                {{ form_widget(form.isTrim) }}
                                            </div>
                                            <div class="col-lg-6 text-left" hidden>
                                                {{ form_errors(form.startOffset) }}
                                                <span style="margin-right: 10px">{{ form_label(form.startOffset) }}</span>
                                                {{ form_widget(form.startOffset) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin: 15px 0">
                                        <div class="row">
                                            <div class="col-lg-12">{{ form_errors(form.file) }}</div>
                                            <div class="col-lg-12">{{ form_label(form.file) }}</div>
                                            <div class="col-lg-12">{{ form_widget(form.file) }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save"></i>
                                            Upload
                                        </button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function FormControl() {
            /**
             * Selectors for form fields
             */
            this.mainCategory = '#uploaded_video_form_mainCategory';
            this.subcategory = '#uploaded_video_form_subcategory';
            this.title = '#uploaded_video_form_title';

            /**
             * Load subcategories list and pass options to select field
             *
             * @param {string} url
             */
            this.loadSubCategories = function(url) {
                var self = this;
                var loader = $('<i>Loading subcategories...</i>');

                $(this.mainCategory).closest('div').append(loader);
                this.clearSubcategoryOptions();

                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(data) {
                        var subcategories = JSON.parse(data);
                        var subcategoriesSelect = $(self.subcategory);

                        subcategories.forEach(function(subcategory) {
                            subcategoriesSelect.append(new Option(subcategory.title, subcategory.id));
                        });
                    }
                })
                    .fail(function() {
                        $(self.mainCategory).closest('div').effect('highlight', {'color': '#C43C35'}, 2000);
                    })
                    .always(function () {
                        loader.remove();
                    })
            };

            /**
             * Remove all options from subcategory select and set default
             */
            this.clearSubcategoryOptions = function() {
                $(this.subcategory).html('').append(new Option('Select subcategory'));
            }
        }

        $(document).ready(function() {
            var formControl = new FormControl();

            $(formControl.mainCategory).change(function() {
                formControl.clearSubcategoryOptions();

                if ($(this).val().length > 0) {
                    var url = $('#subCategoryUrl').text().replace('paramMainId', $(this).val());

                    formControl.loadSubCategories(url);
                }
            });

            var isTrimField = $('#uploaded_video_form_isTrim');
            var startOffsetField = $('#uploaded_video_form_startOffset');
            var startOffsetContainer = startOffsetField.closest('div');

            if (isTrimField.prop('checked')) {
                startOffsetContainer.removeAttr('hidden');
            }

            isTrimField.change(function(event) {
                if ($(this).prop('checked')) {
                    startOffsetContainer.removeAttr('hidden');
                } else {
                    startOffsetContainer.attr('hidden', true);
                    startOffsetField.val('');
                }
            });

            $('.js-datepicker').datetimepicker();
        })
    </script>
{% endblock %}
