{% extends base_template %}

{% block title %}
    {{ 'Upload video - select general options to uploading ' }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
{% endblock %}

{% block form %}
    <a href="{{ admin.generateUrl('signature') }}" hidden id="signature"></a>
    <button id="upload_widget_opener" hidden></button>
    <script>
        $(document).ready(function() {
            var uploader = new CloudinaryUploader();

            var widgetOptions = '{{ widgetOptions|raw }}';
            widgetOptions = JSON.parse(widgetOptions);
            widgetOptions['uploadSignature'] = uploader.getSignatureCallback();
            console.log(widgetOptions);

           var widjet = cloudinary.createUploadWidget(widgetOptions, function (error, result) {
               console.log(result);
               console.log(error);
           });

           widjet.open();

            var formData = '{{ formData|raw }}';
           formData = JSON.parse(formData);
           console.log(formData);
        });

        function CloudinaryUploader() {

            /**
             * Save general video data from widget callback
             *
             * @param {object} formData
             */
            this.saveBaseVideoData = function (formData) {

            };

            /**
             * Get callback for generate signature
             *
             * @returns {Function}
             */
            this.getSignatureCallback = function () {
                return function (callback, paramsToSign) {
                    var url = $('#signature').attr('href');

                    $.ajax({
                        url     : url,
                        type    : "GET",
                        dataType: "text",
                        data    : { data: paramsToSign},
                        complete: function() {},
                        success : function(signature, textStatus, xhr) { callback(signature); },
                        error   : function(xhr, status, error) {}
                    });
                }
            }
        }
    </script>
{% endblock %}