{% extends base_template %}

{% block title %}
    {{ 'Upload video - upload and edit videos' }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
{% endblock %}

{% block form %}
    <div class="sonata-ba-form">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ block('title') }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <span>Uploaded videos will be here....</span>
                                    <button id="upload_widget_opener">Open widget</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var signatureUrl = "{{ admin.generateUrl('signature') }}";
            var saveBaseVideoDataUrl = "{{ admin.generateUrl('saveBaseVideoData') }}";
            var savePostUploadVideoDataUrl = "{{ admin.generateUrl('savePostUploadVideoData') }}";

            var uploadHelper = new UploadHelper(signatureUrl, saveBaseVideoDataUrl, savePostUploadVideoDataUrl);
            var videoDataCollector = new VideoDataCollector();

            var preUploadFormData = JSON.parse('{{ preUploadFormData|raw }}');

            var widgetOptions = JSON.parse('{{ widgetOptions|raw }}');
            widgetOptions['uploadSignature'] = uploadHelper.getSignatureCallback();

            var widjet = cloudinary.createUploadWidget(widgetOptions, function (error, result) {
                switch (result.event) {
                    case 'upload-added':
                        videoDataCollector.increaseUploadsCounter();
                        break;
                    case 'success':
                        uploadHelper
                            .saveBaseVideoData(preUploadFormData, result.info)
                            .then(
                                function(uploadedVideoData) {
                                    videoDataCollector.addSuccessfullySaved(uploadedVideoData)
                                },
                                function(uploadedVideoData) {
                                    videoDataCollector.addNotSaved(uploadedVideoData)
                                }
                            );
                        break;
                    case 'close':
                        break;
                }

                console.log('result');
                console.log(result);
                console.log('error');
                console.log(error);
            });

            widjet.open();
        });

        function UploadHelper(signatureUrl, saveBaseVideoDataUrl, savePostUploadVideoDataUrl) {
            /**
             * Endpoint urls
             */
            this.signatureUrl = signatureUrl;
            this.saveBaseVideoDataUrl = saveBaseVideoDataUrl;
            this.savePostUploadVideoDataUrl = savePostUploadVideoDataUrl;

            /**
             * Save general video data from widget callback and pre-upload form data
             *
             * @param {object} preUploadFormData
             * @param {object} widgetCallbackData
             */
            this.saveBaseVideoData = function (preUploadFormData, widgetCallbackData) {
                var url = this.saveBaseVideoDataUrl;
                var uploadedVideoData = Object.assign({}, preUploadFormData);

                uploadedVideoData['title'] = widgetCallbackData.original_filename;
                uploadedVideoData['remoteId'] = widgetCallbackData.public_id;
                uploadedVideoData['remoteUrl'] = widgetCallbackData.url;
                uploadedVideoData['thumbnails'] = [widgetCallbackData.thumbnail_url];

                return new Promise(function (resolve, reject) {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: JSON.stringify(uploadedVideoData),
                        success: function (data, textStatus, jqXHR) {
                            console.log('success');
                            console.log(data);
                            console.log(textStatus);
                            resolve(uploadedVideoData);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('error');
                            console.log(textStatus);
                            console.log(errorThrown);
                            reject(uploadedVideoData);
                        }
                    })
                });
            };

            /**
             * Get callback for generate signature
             *
             * @returns {Function}
             */
            this.getSignatureCallback = function () {
                var self = this;

                return function (callback, paramsToSign) {
                    $.ajax({
                        url : self.signatureUrl,
                        type : 'GET',
                        dataType: 'text',
                        data : { data: paramsToSign },
                        success : function(signature) {
                            callback(signature);
                        }
                    });
                }
            }
        }

        function VideoDataCollector() {
            /**
             * Uploads data
             *
             * @type {Array}
             */
            this.successfullySaved = [];
            this.notSaved = [];

            this.render = function() {

            };

            this.addSuccessfullySaved = function (uploadedVideoData) {
                this.successfullySaved.push(uploadedVideoData);
            };

            this.addNotSaved = function (uploadedVideoData) {
                this.notSaved.push(uploadedVideoData);
            };
        }
    </script>
{% endblock %}