{% extends base_template %}
{% import "@SonataCore/Form/datepicker.html.twig" as datePicker %}

{% block title %}
    {{ 'Upload and edit videos' }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://widget.cloudinary.com/v2.0/global/all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .loader {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .confirm-text {
            display: inline-block;
            margin-bottom: 10px;
            font-size: 18px;
        }

        .confirm-success {
            color: green;
        }

        .confirm-error {
            color: red;
        }
    </style>
{% endblock %}

{% block form %}
    <div class="sonata-ba-form">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ block('title') }}
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields text-center">
                            <span style="font-size: 18px; margin-bottom: 15px; display: inline-block">
                                No videos have been uploaded...
                            </span>
                            <br>
                            <button id="upload_widget_opener" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="post-upload-form-template" type="text/x-handlebars">
        {% verbatim %}
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-center" style="margin-bottom: 2px">
                            <img src="{{ startThumbnail }}" alt="" width="150" height="80">
                        </div>
                        <div class="col-md-12 text-center image-container">
                            <img src="{{ endThumbnail }}" alt="" width="150" height="80">
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <form action="#" id="{{ uuid }}">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" name="title" value="{{ title }}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="expired-date">Expired date</label>
                                    <input size="16" type="text" id="expired-date" name="expiredDate" class="js-datepicker form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" rows="2" id="description" name="description" form="{{ uuid }}"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        {% endverbatim %}
    </script>
    <script id="confirm-template" type="text/x-handlebars">
        {% verbatim %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="{{ className }}">{{ text }}</span>
                     <br/>
                    <a href="{{ listUrl }}"><button class="btn btn-primary">Return to list</button></a>
                </div>
            </div>
        {% endverbatim %}
    </script>
    <script>
        $(document).ready(function() {
            var signatureUrl = "{{ admin.generateUrl('signature') }}";
            var saveBaseVideoDataUrl = "{{ admin.generateUrl('saveBaseVideoData') }}";
            var confirmVideosUrl = "{{ admin.generateUrl('confirmVideos') }}";
            var listUrl = "{{ admin.generateUrl('list') }}";

            var csrfToken = '{{ csrf_token('uploading-video') }}';

            var uploadedVideoTemplateSource = $('#post-upload-form-template').first().html();
            var uploadedVideoTemplate = Handlebars.compile(uploadedVideoTemplateSource);

            var uploadHelper = new UploadHelper(signatureUrl, saveBaseVideoDataUrl, confirmVideosUrl, csrfToken);
            var videoDataCollector = new VideoDataCollector(uploadedVideoTemplate);

            var preUploadFormData = JSON.parse('{{ preUploadFormData|raw }}');

            var widgetOptions = JSON.parse('{{ widgetOptions|raw }}');
            widgetOptions['uploadSignature'] = uploadHelper.getSignatureCallback();

            var widjet = cloudinary.createUploadWidget(widgetOptions, function (error, result) {
                switch (result.event) {
                    case 'success':
                        var uploadedVideoData = Object.assign({}, preUploadFormData);

                        uploadedVideoData['title'] = result.info.original_filename;
                        uploadedVideoData['remoteId'] = result.info.public_id;
                        uploadedVideoData['remoteUrl'] = result.info.url;

                        uploadHelper
                            .saveBaseVideoData(uploadedVideoData)
                            .then(
                                function(uploadedVideo) {
                                    videoDataCollector.addSuccessfullySaved(uploadedVideo)
                                },
                                function(jqXHR) {
                                    videoDataCollector.addNotSaved(uploadedVideoData);
                                }
                            );
                        break;
                    case 'close':
                        if (videoDataCollector.hasElementsToRender()) {
                            var container = $('.box-body > .sonata-ba-collapsed-fields').first();

                            videoDataCollector.render(container);

                            $('#confirm-all-button').click(function() {
                                $(this).replaceWith('<div class="loader"></div>');

                                var preparedVideos = {};

                                $('.box-body > .sonata-ba-collapsed-fields form').each(function() {
                                    var uuid = $(this).attr('id');

                                    preparedVideos[uuid] = {};

                                    $(this).serializeArray().forEach(function(formFieldData) {
                                        preparedVideos[uuid][formFieldData['name']] = formFieldData['value'];
                                    });
                                });

                                var confirmTemplate = $('#confirm-template').first().html();
                                var compiledConfirmTemplate = Handlebars.compile(confirmTemplate);

                                uploadHelper
                                    .confirmAllUploadedVideos(preparedVideos)
                                    .then(
                                        function() {
                                            var html = compiledConfirmTemplate({
                                                listUrl: listUrl,
                                                text: 'Videos saved successfully',
                                                className: 'confirm-success confirm-text'
                                            });

                                            container.html(html);
                                        },
                                        function(jqXHR) {
                                            var html = compiledConfirmTemplate({
                                                listUrl: listUrl,
                                                text: 'An error occurred while saving the data,' +
                                                    ' please try to edit the video in the Videos section',
                                                className: 'confirm-error confirm-text'
                                            });

                                            container.html(html);
                                        }
                                    );
                            })
                        }
                        break;
                }
            });

            $('#upload_widget_opener').click(function () {
                widjet.open();
            });

            widjet.open();
        });

        function UploadHelper(signatureUrl, saveBaseVideoDataUrl, confirmVideosUrl, csrfToken) {
            /**
             * Endpoint urls
             */
            this.signatureUrl = signatureUrl;
            this.saveBaseVideoDataUrl = saveBaseVideoDataUrl;
            this.confirmVideosUrl = confirmVideosUrl;

            /**
             * CSRF protection token
             */
            this.token = csrfToken;

            /**
             * Save general video data from widget callback and pre-upload form data
             *
             * @param {Object} uploadedVideoData
             *
             * @return Promise
             */
            this.saveBaseVideoData = function(uploadedVideoData) {
                // delete uuid to prevent form handling errors
                delete uploadedVideoData.uuid;

                return this.sendPostRequest(this.saveBaseVideoDataUrl, uploadedVideoData);
            };

            /**
             * @param {Object} confirmedVideoData
             *
             * @return Promise
             */
            this.confirmAllUploadedVideos = function(confirmedVideoData) {
                return this.sendPostRequest(this.confirmVideosUrl, confirmedVideoData);
            };

            /**
             * Send post request
             *
             * @param {string} url
             * @param {Object} data
             *
             * @return Promise
             */
            this.sendPostRequest = function(url, data) {
                data['_token'] = this.token;

                return new Promise(function(resolve, reject) {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        success: function (data) {
                            console.log('success request');
                            resolve(data);
                        },
                        error: function (jqXHR) {
                            console.log('error request');
                            reject(jqXHR);
                        }
                    })
                })
            };

            /**
             * Get callback for generate signature
             *
             * @returns {Function}
             */
            this.getSignatureCallback = function () {
                var self = this;

                return function (callback, paramsToSign) {
                    $.ajax({
                        url : self.signatureUrl,
                        type : 'GET',
                        dataType: 'text',
                        data : { data: paramsToSign },
                        success : function(signature) {
                            callback(signature);
                        }
                    });
                }
            }
        }

        function VideoDataCollector(uploadedVideoTemplate) {
            /**
             * Upload video data
             *
             * @type {Object[]}
             */
            this.successfullySaved = [];

            /**
             * Uploaded, but not saved videos
             *
             * @type {Array}
             */
            this.notSaved = [];

            /**
             * Handlebars library template
             * 
             * @type {Function}
             */
            this.uploadedVideoTemplate = uploadedVideoTemplate;

            /**
             * Render uploaded and saved videos
             *
             * @param parentElement - container for append list
             */
            this.render = function(parentElement) {
                var container = $('<div></div>');
                var self = this;

                this.successfullySaved.forEach(function (uploadedVideo, index) {
                    var startThumbnail = uploadedVideo.thumbnails.shift();
                    var endThumbnail = uploadedVideo.thumbnails.pop();

                    if (index > 0) {
                        container.append($('<hr/>'));
                    }

                    var html = self.uploadedVideoTemplate({
                        uuid: uploadedVideo.uuid,
                        title: uploadedVideo.title,
                        startThumbnail: startThumbnail,
                        endThumbnail: endThumbnail
                    });

                    container.append(html);
                });

                var saveButton = $('<button></button>')
                    .addClass('btn btn-primary')
                    .attr('id', 'confirm-all-button')
                    .html('Confirm all');

                container.append(saveButton);

                parentElement.html(container);

                $('.js-datepicker').datetimepicker({format: 'Y-MM-DD HH:mm'});
            };

            /**
             * Add uploaded and saved video data to collection
             *
             * @param {Object} uploadedVideoData
             */
            this.addSuccessfullySaved = function (uploadedVideoData) {
                this.successfullySaved.push(uploadedVideoData);
            };

            /**
             * Add uploaded but saved with error video data
             *
             * @param {Object} uploadedVideoData
             */
            this.addNotSaved = function (uploadedVideoData) {
                this.notSaved.push(uploadedVideoData);
            };

            /**
             * Check if there is at least one item in the collection
             *
             * @returns {boolean}
             */
            this.hasElementsToRender = function () {
                return this.successfullySaved.length > 0 || this.notSaved.length > 0;
            }
        }
    </script>
{% endblock %}