{% import "@App/Components/Blocks/Footer/annotation.html.twig" as  annotation %}

{% if isCarrierDetected() %}
    {% if isWifiFlow() %}
        <div class="d-flex align-items-center justify-content-center mh-7">
            <div class="d-flex align-items-center justify-content-center mh-20 text-center">
                <span>{{ translate('landing.renew_info.eg_tpay', {'%my_account_url%': path('account')}) | raw }}</span>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center mh-7">
            <div class="d-flex align-items-center justify-content-center mh-20">
                <h2 class="h1">{{ translate('offer.landing') | raw }}</h2>
            </div>
        </div>
    {% else %}
        <div style="font-size: 12px" class="d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center mh-20 text-center">
                <span>{{ translate('landing.renew_info.eg_tpay', {'%my_account_url%': path('account')}) | raw }}</span>
            </div>
        </div>

        <div style="font-size: 12px">
            {{ annotation.render() }}
        </div>

        <div style="font-size: 12px" class="d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center mh-20">
                <h2 class="h1">{{ translate('offer.landing') | raw }}</h2>
            </div>
        </div>
    {% endif %}
{% endif %}