{% extends '@App/base.html.twig' %}

{% import "@App/Common/Blocks/header.html.twig" as  header %}
{% import "@App/Components/Blocks/Main/subscription_status.html.twig" as  subscription_status %}
{% import "@App/Components/subscribe_buttons.html.twig" as subscribe_buttons %}
{% import "@App/Components/Blocks/Footer/annotation.html.twig" as  annotation %}
{% import "@App/Components/Buttons/button.html.twig" as  button %}
{% import "@App/Components/Buttons/link.html.twig" as  link %}
{% import "@App/Components/Blocks/Footer/menu.html.twig" as  footer_menu %}
{% import "@App/Components/Blocks/Main/mirror_separator.html.twig" as mirrorSeparator %}
{% import "@App/Common/Blocks/unsubscribe_link.html.twig" as  unsubscribe_link %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/account.css') }}" rel="stylesheet">
{% endblock %}

{% block header_content %}
    {{ header.render('Subscription info') }}
{% endblock header_content %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center w-100 text-center account-page-container">

        {% if hasActiveSubscription() %}
            <div class="d-flex align-items-center justify-content-center">
                <p class="red"> {{ translate('subscription.status.subscribed')|raw }}</p>
            </div>

            {{ mirrorSeparator.render(' ', 'my-4') }}

            <div class="d-flex align-items-center justify-content-center">
                {{ translate('account.text.subscribed')|raw }}
                {{ subscriptionCreatedDate.format('d.m.Y') }}.
                {{ translate('account.text.leave')|raw }}
            </div>

            <div class="d-flex align-items-center justify-content-center unsubscribe-link-wrapper">
                {{ unsubscribe_link.render() }}
            </div>
        {% elseif isUnsubscribed() %}
            <div class="d-flex align-items-center justify-content-center red">
                {{ translate('subscription.status.unsubscribed')|raw }}
            </div>

            <div class="d-flex align-items-center justify-content-center mt-5">
                <h2 class="h1">{{ translate('offer.account')|raw }}</h2>
            </div>

            <div class="d-flex align-items-center justify-content-center mt-10">
                {{ subscribe_buttons.render() }}
            </div>

        {% elseif hasInActiveSubscription() %}


        {% elseif not isSubscriptionExist() %}
            {{ translate('account.subscription.status.not_subscribe')|raw|nl2br }}

            <div class="d-flex align-items-center justify-content-center">
                <h2 class="h1">{{ translate('offer.account')|raw }}</h2>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                {{ subscribe_buttons.render() }}
            </div>
        {% endif %}
    </div>


    <script>

        $(document).on('click', '.x-subscribe-button', function (e) {
            $._loader(false);
        })

    </script>

{% endblock body %}

{% block footer_content %}
    {% if not isSubscriptionExist() %}
        {{ annotation.render() }}
    {% endif %}
    {{ footer_menu.render() }}
{% endblock footer_content %}