{% extends '@App/base.html.twig' %}
{% import "@App/Common/Blocks/header.html.twig" as  header %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/faq.css') }}" rel="stylesheet">
{% endblock %}



{% block header_content %}
    {{ header.render('FAQ') }}
{% endblock header_content %}


{% block body %}
    <div class="w-100 accordion" id="accordionExample">

        {% for question in questions %}

            <div class="card faq-accordion_card">
                <div class="faq-accordion_card_header" id="card_{{ loop.index }}">

                    <div class="d-flex flex-row align-items-center">
                        <div class="faq-accordion_card_header_button"
                             href="#" data-toggle="collapse" data-target="#card_collapse_{{ loop.index }}"
                             aria-expanded="false" aria-controls="card_collapse_{{ loop.index }}">
                        </div>
                        <div class="faq-accordion_card_header_title" data-toggle="collapse" data-target="#card_collapse_{{ loop.index }}"
                             aria-expanded="false" aria-controls="card_collapse_{{ loop.index }}">
                            {{ loop.index }}/ {{ translate(question.key)}}
                        </div>
                    </div>
                    <div>
                        <div class="faq-accordion_card__delimiter"></div>
                    </div>

                </div>


                <div id="card_collapse_{{ loop.index }}" class="collapse" aria-labelledby="card_{{ loop.index }}"
                     data-parent="#accordionExample">
                    <div class="card-body faq-accordion_card_body">
                        {{ translate(answers[loop.index0].key, {'%home_url%': path('index')}) | raw}}
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/faq.js') }}"></script>
{% endblock %}