{% extends '@App/base.html.twig' %}
{% import importTemplate("Common/Blocks/header.html.twig") as  header %}
{%  import importTemplate("Components/Blocks/Main/faq_element.html.twig") as  faq_element %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/faq.css') }}" rel="stylesheet">
{% endblock %}



{% block header_content %}
    {{ header.render(translate('faq.title')) }}
{% endblock header_content %}


{% block body %}
    <div class="w-100 accordion" id="accordionExample">

        {% for i in 1..6 %}
            {{ faq_element.render(i, 'faq.q.'~i, 'faq.a.'~i) }}
        {% endfor %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/faq.js') }}"></script>
{% endblock %}