{% extends '@App/base.html.twig' %}

{% import "@App/Common/Blocks/header.html.twig" as  header %}
{% import '@App/Components/Buttons/button.html.twig' as button %}
{% import "@App/Components/Blocks/Main/game_cell.html.twig" as gameCell %}
{% import "@App/Components/Blocks/Main/mirror_separator.html.twig" as mirrorSeparator %}
{% import "@App/Components/Blocks/Footer/footer_menu_separator.html.twig" as  footer_menu_separator %}
{% import "@App/Components/Blocks/Footer/menu.html.twig" as  footer_menu %}

{% block header_content %}
    {{ header.render(game.title) }}
{% endblock header_content %}

{% block body %}
    <div class="d-flex align-self-start justify-content-center flex-wrap flex-column w-100 my-2">
        <img class="img-fluid" src="{{ game.iconPath }}" alt="{{ game.title }}"/>

        <div class="d-flex justify-content-center my-4-5 w-100 x-game-element" data-uuid="{{ game.uuid }}">
            {{ button.render(translate('buttons.download'), 'game-download-button x-game-download-button') }}
        </div>

        <div class="game-screenshots w-100">
            {% for gameScreenshot in images %}
                <img class="w-auto h-auto max-vw-75 screenshot-img" src="{{ gameScreenshot.iconPath }}" alt="Screenshot">
            {% endfor %}
        </div>

        <div class="d-flex m-2">
            {{ game.description|raw }}
        </div>

        <div class="d-flex justify-content-center my-4-5 x-game-element" data-uuid="{{ game.uuid }}">
            {{ button.render(translate('buttons.download'), 'game-download-button x-game-download-button') }}
        </div>

        {{ mirrorSeparator.render(translate('game.other_games'), 'my-4') }}

        <div class="game-similars w-100">
            {% for similarGame in similarGames %}
                {{ gameCell.render(similarGame) }}
            {% endfor %}
        </div>
    </div>
{% endblock body %}

{% block footer_content %}
    {{ footer_menu_separator.render() }}
    {{ footer_menu.render() }}
{% endblock footer_content %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/slider.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/games.css') }}"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.game-screenshots').slick({
                variableWidth: true,
            });
            $('.game-similars').slick({
                variableWidth: true,
                rows: 0
            });

            $(document).on('click', '.x-game-download-button', function () {
                var button = $(this);
                var parent = button.parents('.x-game-element');
                var uuid   = parent.attr('data-uuid');
                var link   = "{{ path('download_game') }}" + '?id=' + uuid;

                $.ajax({
                    url       : link,
                    method    : 'GET',
                    beforeSend: function () {
                        button.attr('disabled', 1)
                    },
                    complete  : function () {
                        button.attr('disabled', null)
                    },
                    success   : function (data) {
                        if (data.url) {
                            window.location = data.url;
                        }else{
                            showAlert({title: 'Internal error. Please try again later'})
                        }
                    }
                })
            });
        });
    </script>
{% endblock  javascripts %}