{% extends '@App/base.html.twig' %}

{% import "@App/Common/Blocks/header.html.twig" as  header %}
{% import "@App/Components/Blocks/Main/subscription_status.html.twig" as  subscription_status %}
{% import "@App/Components/Blocks/Header/subscription_heading.html.twig" as  subscription_heading %}
{% import "@App/Components/Blocks/Footer/menu.html.twig" as  footer_menu %}

{% import "@App/Components/player.html.twig" as  player %}
{% import "@App/Common/Blocks/slider.html.twig" as  slider %}
{% import "@App/Common/Blocks/grid_video.html.twig" as  grid_video %}
{% import "@App/Common/Blocks/list_of_games.html.twig" as  list_of_games %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/slider.css') }}"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock javascripts %}

{% block header_content %}
    <div class="w-100">
        {{ header.render() }}
        {{ subscription_heading.render() }}
    </div>
{% endblock header_content %}

{% block body %}

    <div class="homepage-container">

        {{ slider.render(sliderVideos, categories) }}

        <div class="d-flex flex-column w-100">
           {{ grid_video.render(categoryVideos, categories) }}
        </div>
        <div class="d-flex flex-column w-100">
            {{ list_of_games.render(games) }}
        </div>
    </div>
    {{ player.render(categoryVideos|merge(sliderVideos)) }}

{% endblock %}

{% block footer_content %}
    {{ footer_menu.render() }}
{% endblock footer_content %}