{% extends '@App/base.html.twig' %}

{% import "@App/Common/Blocks/header.html.twig" as  header %}
{% import "@App/Components/Blocks/Main/subscription_status.html.twig" as  subscription_status %}
{% import "@App/Components/Blocks/Header/subscription_heading.html.twig" as  subscription_heading %}
{% import "@App/Components/Blocks/Footer/menu.html.twig" as  footer_menu %}

{% import "@App/Components/player.html.twig" as  player %}

{% block header_content %}

    <div style="width: 100%;">
        {{ header.render() }}
        {{ subscription_heading.render() }}
    </div>


{% endblock header_content %}

{% block body %}

    <div class="homepage-container">

        <div class="slider-block">
            <div class="d-flex flex-row">
                <div class="slider-title"></div>
                <div class="slider-see-all-button"></div>
            </div>
            <div class="slider-content">
                {% for category, videos in sliderVideos %}

                    {% set categoryData = categories[category] %}
                    <div class="categories-block d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <div class="categories-block-title">{{ category }}</div>
                            <a href="{{ path('show_category',{'categoryUuid': categoryData.uuid}) }}">
                                <span class="categories-see-all-icon"></span>
                                <span class="categories-see-all-button">See all</span>
                            </a>
                        </div>
                        <div class="categories-block-title-underline"></div>

                        <div class="categories-content d-flex flex-row"
                             style="justify-content: space-between;">
                            {% for video in videos %}
                                <div class="video-element x-play-button">
                                    <img src="{{ video.thumbnails[0] }}"
                                         class="x-play-button"
                                         width="100%"
                                         data-uuid="{{ video.uuid }}"
                                         data-category="{{ category }}"
                                    />
                                    <div class="video-element-title">{{ video.title }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>

        <div class="d-flex flex-column w-100">
            {% for category, videos in categoryVideos %}

                {% set categoryData = categories[category] %}
                <div class="categories-block d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <div class="categories-block-title">{{ category }}</div>
                        <a href="{{ path('show_category',{'categoryUuid': categoryData.uuid}) }}">
                            <span class="categories-see-all-icon"></span>
                            <span class="categories-see-all-button">See all</span>
                        </a>
                    </div>
                    <div class="categories-block-title-underline"></div>

                    <div class="categories-content d-flex flex-row"
                         style="flex-wrap: wrap;justify-content: space-between;">
                        {% for video in videos | slice(0, 4) %}
                            <div class="video-element">
                                <div class="thumbnail-wrapper x-play-button">
                                    <img src="{{ video.thumbnails[0] }}"
                                         class="x-play-button"
                                         width="100%"
                                         data-uuid="{{ video.uuid }}"
                                         data-category="{{ category }}"
                                    />
                                    <div class="category__related__box-play"></div>
                                </div>
                                <div class="video-element-title">{{ video.title }}</div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ player.render(categoryVideos|merge(sliderVideos)) }}

{% endblock %}

{% block footer_content %}
    {{ footer_menu.render() }}
{% endblock footer_content %}