{% extends '@App/base.html.twig' %}

{% import "@App/Components/Blocks/Header/header_main.html.twig" as  header %}
{% import "@App/Components/Blocks/Main/subscription_status.html.twig" as  subscription_status %}
{% import "@App/Components/player.html.twig" as  player %}

{% block header_content %}
    {{ header.render() }}
{% endblock header_content %}

{% block body %}
    {{ subscription_status.render() }}


    <div class="slider-block">
        <div class="d-flex flex-row">
            <div class="slider-title"></div>
            <div class="slider-see-all-button"></div>
        </div>
        <div class="slider-content"></div>

    </div>

    <div class="d-flex flex-column" style="width: 100%">
        {% for category, videos in categoryVideos %}

            {% set categoryData = categories[category] %}
            <div class="categories-block d-flex flex-column">
                <div>
                    <div class="categories-block-title">{{ category }}</div>
                    <a href="{{ path('show_category',{'categoryUuid': categoryData.uuid}) }}">
                        <div class="categories-see-all-button">See all</div>
                    </a>
                </div>
                <div class="categories-block-title-underline"></div>

                <div class="categories-content d-flex flex-row" style="flex-wrap: wrap">
                    {% for video in videos | slice(0, 4) %}
                        <div class="video-element x-play-button">
                            <img src="{{ video.thumbnails[0] }}"
                                 class="x-play-button"
                                 width="100%"
                                 data-uuid="{{ video.uuid }}"
                                 data-category="{{ category }}"
                            />
                            <div class="video-element-title">{{ video.title }}</div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        {% endfor %}
    </div>

    {{ player.render(categoryVideos) }}

{% endblock %}