{% extends '@App/base.html.twig' %}
{% import "@App/Components/Blocks/Header/header_lp.html.twig" as  header %}
{% import "@App/Components/Blocks/Footer/annotation.html.twig" as  annotation %}
{% import "@App/Components/Blocks/Footer/menu.html.twig" as  footer_menu %}
{% import "@App/Components/Blocks/Main/lure.html.twig" as  red_lure_block %}
{% import "@App/Components/Blocks/Main/banner.html.twig" as  banner %}
{% import "@App/Components/Blocks/Main/icons_channels.html.twig" as  icons_channels %}
{% import "@App/Components/Buttons/button.html.twig" as  button %}
{% import "@App/Components/lp_subscribe_buttons.html.twig" as lp_subscribe_buttons %}

{% block header_content %}
    {{ header.render() }}
{% endblock header_content %}

{% block body %}

    <div class="d-flex flex-column align-items-center justify-content-top w-100">
        <div class="d-flex align-items-center justify-content-center">

            {% if not isCarrierDetected() %}
                {{ lp_subscribe_buttons.carrier_select_block() }}
            {% elseif isIdentified() or isConsentFlow() %}
                <h2>You are identified</h2>
                <div>
                    <a href="{{ path('subscription.subscribe') }}">
                        <button type="button">Subscribe</button>
                    </a>
                </div>
                <div>
                    User Token: {{ getIdentificationToken() }}
                </div>
            {% elseif isWifiFlow() %}
                <h2>Wifi Flow</h2>
                {{ lp_subscribe_buttons.wifi_subscribe_block() }}
            {% else %}
                <h2>Common Flow</h2>
                <div>Carrier: {{ isp_detection_data.carrier_id }}</div>
                <div>
                    {{ lp_subscribe_buttons.common_identify_block() }}
                </div>
            {% endif %}
        </div>

        <div class="d-flex align-items-center justify-content-center">
            {{ banner.render('', 'tesl alt') }}
        </div>
        <div class="d-flex align-items-center justify-content-center">
            {{ button.render(translate('buttons.join.now')) }}
        </div>
        <div class="d-flex align-items-center justify-content-center">
            {{ translate('promotional.landing') }}
        </div>

        <div class="d-flex align-items-center justify-content-center">
            {{ icons_channels.render() }}
        </div>
        <div class="d-flex align-items-center justify-content-center">
            {{ button.render(translate('buttons.join.now')) }}
        </div>
        <div class="d-flex align-items-center justify-content-center">
            {{ translate('offer.landing') }}
        </div>
        <div class="d-flex align-items-center justify-content-center">
            {{ red_lure_block.render() }}
        </div>
    </div>
{% endblock body %}

{% block footer_content %}
    {{ annotation.render() }}
    {{ footer_menu.render() }}
{% endblock footer_content %}