{% extends '@App/base.html.twig' %}
{% import "@App/Components/Blocks/Header/header_lp.html.twig" as  header %}
{% import "@App/Components/Blocks/Footer/annotation.html.twig" as  annotation %}
{% import "@App/Components/Blocks/Footer/menu.html.twig" as  footer_menu %}
{% import "@App/Components/Blocks/Main/lure.html.twig" as  red_lure_block %}
{% import "@App/Components/Blocks/Main/banner.html.twig" as  banner %}
{% import "@App/Components/Blocks/Main/icons_channels.html.twig" as  icons_channels %}
{% import "@App/Components/lp_subscribe_buttons.html.twig" as lp_subscribe_buttons %}


{% block header_content %}
    {{ header.render() }}
{% endblock header_content %}

{% block body %}

    <div class="d-flex flex-column align-items-center justify-content-top w-100">
        <div class="d-flex align-items-center justify-content-center">
            {{ banner.render(asset('img/lp/lp_banner.png'), 'banner', 'w-100') }}
        </div>
        <div class="d-flex align-items-center justify-content-center">
            {{ lp_subscribe_buttons.render(carriers,'btn-lp_big') }}
        </div>

        <div class="d-flex align-items-center justify-content-center mh-7">
            <h1 class="h1-lp">{{ translate('promotional.landing')|raw }}</h1>
        </div>

        <div class="align-items-center justify-content-center row m-55">
            {{ icons_channels.render() }}
        </div>
        {#<div class="d-flex align-items-center justify-content-center">
            {{ lp_subscribe_buttons.render(carriers, 'mh-90') }}
        </div>#}
        <div class="d-flex align-items-center justify-content-center mh-20">
            <h2 class="h1-lp">{{ translate('offer.landing')|raw }}</h2>
        </div>
        <div class="lure_box_wrapper">
            {{ red_lure_block.render(translate('lure_block.text')) }}
        </div>
    </div>
{% endblock body %}

{% block footer_content %}
    {{ annotation.render() }}
    {{ footer_menu.render() }}
{% endblock footer_content %}