{% extends '@App/base.html.twig' %}
{% import "@App/Components/Blocks/Header/header_lp.html.twig" as  header %}
{% import "@App/Components/Blocks/Footer/annotation.html.twig" as  annotation %}
{% import "@App/Components/Blocks/Footer/menu.html.twig" as  footer_menu %}
{% import "@App/Components/Blocks/Main/lure.html.twig" as  red_lure_block %}
{% import "@App/Components/Blocks/Main/banner.html.twig" as  banner %}
{% import "@App/Components/Blocks/Main/icons_channels.html.twig" as  icons_channels %}
{% import "@App/Components/subscribe_buttons.html.twig" as subscribe_buttons %}

{% block header_content %}
    {% if isWifiFlow() %}
        {{ header.render() }}
    {% endif %}
{% endblock header_content %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/lp.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="d-flex flex-column align-items-center justify-content-top w-100" {% if background %} style="background: {{ background }}" {% endif %}>

        {% if not isWifiFlow() %}
            <div class="play-text">
                {{ translate('landing.text.pay2watch') |raw }}
            </div>
        {% endif %}

        {% if not isWifiFlow() %}
            <div class="d-flex align-items-start justify-content-center mb-n-2 lp-sub-btn lp-sub-btn-top">
                {{ subscribe_buttons.render('buttons.subscribe', 'btn-lp_big') }}
            </div>
        {% endif %}

        <div class="d-flex align-items-center justify-content-center">
            {% if isClickableSubImage() %}
                {% if campaignBanner %}
                    {{ banner.render(campaignBanner, 'banner', 'w-100', 1) }}
                {% else %}
                    {{ banner.render(asset('img/lp/lp_subscribe_video.png'), 'banner', 'w-100', 1) }}
                {% endif %}
            {% else %}
                {% if campaignBanner %}
                    <img src="{{ campaignBanner }}" class="w-100" alt="banner">
                {% else %}
                    <img src="{{ asset('img/lp/lp_subscribe_video.png') }}" class="w-100" alt="banner">
                {% endif %}
            {% endif %}
        </div>

        {% if not isWifiFlow() %}
            <div class="d-flex align-items-start justify-content-center mb-n-2 lp-sub-btn lp-sub-btn-bottom">
                {{ subscribe_buttons.render('buttons.subscribe', 'btn-lp_big') }}
            </div>
        {% else %}
           <div class="d-flex align-items-start justify-content-center mt-4 mb-n-2">
               {{ subscribe_buttons.render('buttons.join.now', 'btn-lp_big') }}
           </div>
        {% endif %}


        <div class="lure_box_wrapper mb-3" id="landing-offer-container" style="margin-top: 0!important;">
            {% include "@App/Common/landing_offer.html.twig" %}
        </div>

        <div class="align-items-center justify-content-center row mx-4">
            {{ icons_channels.render() }}
        </div>
        {#<div class="d-flex align-items-center justify-content-center">
            {{ subscribe_buttons.render(carriers, 'mh-90') }}
        </div>#}
        <div class="lure_box_wrapper">
            {{ red_lure_block.render(translate('lure_block.text')) }}
        </div>
    </div>
{% endblock body %}

{% block footer_content %}
    {% if isCarrierDetected() %}
        {{ annotation.render() }}
    {% endif %}
    {% if isWifiFlow() %}
        <div id="terms-and-conditions" tabindex="1">
            <span>
                <input name="terms" id="terms-and-conditions-checkbox" type="checkbox" required />
                {{ translate('wifi.terms_confirmation', {'%terms_url%': path('terms_and_conditions')}) | raw }}
            </span>
        </div>
    {% endif %}
    {{ footer_menu.render() }}
{% endblock footer_content %}