{% macro render() %}
    {% import '@App/Components/Buttons/button.html.twig' as button %}
    {% import '@App/Components/Forms/wifi_phone.html.twig' as wifi_phone %}
    {% import '@App/Components/Forms/wifi_pin.html.twig' as wifi_pin %}
    {% import '@App/Components/Forms/wifi_select.html.twig' as wifi_select %}

    <form data-form="{% if isCarrierDetected() %}pin{% else %}carrier_with_pin{% endif %}" id="wifi_form"
          class="d-flex flex-column w-75 text-center">
        <div class="wifi_form__ground"></div>
        <div class="align-self-center wifi_form__warning w-75">
            {{ translate('wifi.warning') }}
        </div>
        <div id="wifi_form_step">
            {% if not isCarrierDetected() %}
                {{ wifi_select.render() }}
            {% endif %}
            {{ wifi_phone.render() }}
        </div>
        <div id="wifi_button">
            {{ button.renderSubmitButton(translate('buttons.subscribe'), 'x-send-pin-button') }}
        </div>
        <div class="">
            <span id="wifi_offer">{% if isCarrierDetected() %}{{ translate('wifi.offer') }}{% endif %}</span>
        </div>
        <div class="mt-3">
            <label class="terms_confirmation">
                <input type="checkbox" required value="0"/>
                {{ translate('wifi.terms_confirmation', {'%terms_url%': path('terms_and_conditions')}) | raw }}
            </label>
        </div>
    </form>

    <script type="text/javascript">
        var form = $('#wifi_form');

        // move form to designed position (the best designer ever)
        var offset = parseInt(form.parent('div').prev().height()) + parseInt(form.parent('div').css('padding-top')) + parseInt(form.parent('div').css('margin-top'));
        form.css({
            'margin-top': '-' + offset + 'px',
            'min-height': parseInt(form.parent('div').prev().height()) + 'px'
        });

        var $wifi_form_step = $('#wifi_form_step');
        var $wifi_warning = $('.wifi_form__warning');
        var phone;
        var input_phone = $('input[name=mobile_number]');

        var params = {
            html_wifi_phone: $('<div />').html('{{ html2string(wifi_phone.render()) }}').text(),
            html_wifi_pin: $('<div />').html('{{ html2string(wifi_pin.render()) }}').text(),
            pin_notif: $('<div />').html('{{ html2string(translate('wifi.pin_notif')|nl2br) }}').text(),
            warning: $('<div />').html('{{ html2string(translate('wifi.warning')|nl2br) }}').text()
        };

        // set carrier to IdentificationDataStorage
        $(document).on('submit', 'form[data-form=carrier]', function (e) {
            e.preventDefault();
            $._loader();
            phone = input_phone.val();

            $.ajax({
                url: "{{ path('select_carrier_for_pin_code_form') }}",
                method: "POST",
                data: form.serialize(),
                success: function (result) {
                    $._loader(true);
                    if (result.data.success) {
                        $wifi_form_step.html(params.html_wifi_phone);
                        form.attr('data-form', 'pin');
                    } else {
                        showAlert({title: result.data.message});
                    }
                }
            });

        });

        // send pin code to input phone
        $(document).on('submit', 'form[data-form=pin]', function (e) {
            e.preventDefault();
            $._loader();
            phone = input_phone.val();
            $(document).unbind("ajaxSuccess"); // hook for re-send pin

            $.ajax({
                url: "{{ path('send_sms_pin_code') }}",
                method: "POST",
                data: form.serialize(),
                success: function (result) {
                    $._loader(true);
                    if (result.data.success) {
                        input_phone.addClass('d-none');
                        $wifi_form_step
                            .html(params.html_wifi_pin)
                            .append(input_phone);
                        form.attr('data-form', 'confirm');
                        $wifi_warning.html(params.pin_notif);
                    } else {
                        showAlert({title: result.data.message});
                    }
                }
            });
        });

        // merge carrier and phone steps
        $(document).on('submit', 'form[data-form=carrier_with_pin]', function (e) {
            e.preventDefault();
            $._loader();
            phone = input_phone.val();

            $.ajax({
                url: "{{ path('select_carrier_with_send_pin_code') }}",
                method: "POST",
                data: form.serialize(),
                success: function (result) {
                    $._loader(true);
                    if (result.data.success) {
                        var input_phone = $('input[name=mobile_number]');
                        input_phone.addClass('d-none');
                        $wifi_form_step
                            .html(params.html_wifi_pin)
                            .append(input_phone);
                        form.attr('data-form', 'confirm');
                    } else {
                        showAlert({title: result.data.message});
                    }
                }
            });
        });

        // confirm pin code
        $(document).on('submit', 'form[data-form=confirm]', function (e) {
            e.preventDefault();
            $._loader();

            $.ajax({
                url: "{{ path('confirm_sms_pin_code') }}",
                method: "POST",
                data: form.serialize(),
                success: function (result) {
                    $._loader(true);
                    if (result.data.success) {
                        window.location = result.data.redirectUrl;
                    } else {
                        showAlert({title: result.data.message});
                    }
                }
            });
        });

        // re-send pin code
        $(document).on('click', '#resend-pin', function (event) {
            event.preventDefault();
            $(this).closest('form').attr('data-form', 'pin').submit();
            $(document).ajaxSuccess(function (event, request, settings) {
                if(settings.url === '{{ path('send_sms_pin_code') }}') {
                    showAlert({title: 'New PIN-code', message: 'has been successfully sent'});
                }
            });
        });

        // change phone number
        $(document).on('click', '#change-number', function (event) {
            event.preventDefault();
            $._loader();
            $wifi_form_step.html(params.html_wifi_phone);
            $wifi_warning.html(params.warning);
            form.attr('data-form', 'pin');
            $('input[name=mobile_number]').val(phone);
            $._loader(true);
        });
    </script>
{% endmacro %}