{% macro render(carriers) %}
    {% import '@App/Components/Buttons/button.html.twig' as button %}
    <form class="x-select-carrier-block text-center collapse ">
        <br>
        <div>
            <select name="carrier_id" required>
                {% for carrier in carriers %}
                    <option value="{{ carrier.billingCarrierId }}">{{ carrier.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            {{ button.renderSubmitButton('Select Carrier', 'x-select-carrier-button') }}
        </div>
    </form>

    <form class="x-subscribe-send-pin-block text-center collapse ">
        <br>
        <div>
            <input type="text" name="mobile_number" placeholder="Mobile Number" required>
        </div>
        <div>
            {{ button.renderSubmitButton('Send SMS', 'x-send-pin-button') }}
        </div>
    </form>

    <form class="x-subscribe-confirm-pin-block text-center collapse ">
        <br>
        <div>
            <input type="text" name="mobile_number" placeholder="Mobile Number" required>
        </div>
        <div>
            <input type="text" name="pin_code" placeholder="Pin Code" required>
        </div>
        <div>
            {{ button.renderSubmitButton('Confirm', 'x-confirm-pin-button') }}
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        // $(document).ready(function (){
            var isCarrierDetected = {{ isCarrierDetected() ? 'true' : 'false' }};

            if (isCarrierDetected) {
                moveToStepTwo()
            } else {
                moveToStepOne();
            }

        function moveToStepOne() {
            $('.x-select-carrier-block').show();
            $('.x-subscribe-send-pin-block').hide();
            $('.x-subscribe-confirm-pin-block').hide();
        }
        function moveToStepTwo() {
            $('.x-select-carrier-block').hide();
            $('.x-subscribe-send-pin-block').show();
            $('.x-subscribe-confirm-pin-block').hide();
        }
        function moveToStepThree() {
            $('.x-select-carrier-block').hide();
            $('.x-subscribe-send-pin-block').hide();
            $('.x-subscribe-confirm-pin-block').show();
        }

            $('.x-select-carrier-block').on('submit', function (e) {
                var form = $(this);

                $.ajax({
                    url    : "{{ path('select_carrier_for_pin_code_form') }}",
                    method : "POST",
                    data   : form.serialize(),
                    success: function (result) {
                        if (result.data.success) {
                            moveToStepTwo();
                        } else {
                            showAlert({title: result.data.message});
                        }
                    }
                });
                e.preventDefault();
                e.stopPropagation();
            });

            $('.x-subscribe-send-pin-block').on('submit', function (e) {
                var form = $(this);

                $.ajax({
                    url    : "{{ path('send_sms_pin_code') }}",
                    method : "POST",
                    data   : form.serialize(),
                    success: function (result) {
                        if (result.data.success) {
                            moveToStepThree()
                        } else {
                            showAlert({title: result.data.message});
                        }
                    }
                });

                e.preventDefault();
                e.stopPropagation();
            });

            $('.x-subscribe-confirm-pin-block').on('submit', function (e) {
                var form = $(this);

                $.ajax({
                    url    : "{{ path('confirm_sms_pin_code') }}",
                    method : "POST",
                    data   : form.serialize(),
                    success: function (result) {
                        if (result.data.success) {
                            window.location = result.data.redirectUrl;
                        } else {
                            showAlert({title: result.data.message});
                        }
                    }
                });

                e.preventDefault();
                e.stopPropagation();
            });
        // });
    </script>
{% endmacro %}