{% macro render() %}
    {% import '@App/Components/Buttons/button.html.twig' as button %}
    {% import '@App/Components/Forms/wifi_phone.html.twig' as wifi_phone %}
    {% import '@App/Components/Forms/wifi_pin.html.twig' as wifi_pin %}
    {% import '@App/Components/Forms/wifi_select.html.twig' as wifi_select %}

    <form data-form="{% if isCarrierDetected() %}pin{% else %}carrier_with_pin{% endif %}" id="wifi_form"
          class="d-flex flex-column w-75 text-center">
        <div class="wifi_form__ground"></div>
        <div class="align-self-center wifi_form__warning w-75">
            {{ translate('wifi.warning') }}
        </div>
        <div id="wifi_form_step">
            {% if not isCarrierDetected() %}
                {{ wifi_select.render() }}
            {% endif %}
            {{ wifi_phone.render() }}
        </div>
        <div id="wifi_button">
            {{ button.renderSubmitButton(translate('buttons.subscribe'), 'x-send-pin-button') }}
        </div>
        <div class="">
            <span id="wifi_offer">{% if isCarrierDetected() %}{{ translate('wifi.offer') }}{% endif %}</span>
        </div>
        <div class="">
            <label class="terms_confirmation">
                <input type="checkbox" required value="0"/>
                    {{ translate('wifi.terms_confirmation', {'%terms_url%': path('terms_and_conditions')}) | raw }}
            </label>
        </div>
    </form>

    <script type="text/javascript">
        var offset = parseInt($('#wifi_form').parent('div').prev().height()) + parseInt($('#wifi_form').parent('div').css('padding-top')) + parseInt($('#wifi_form').parent('div').css('margin-top'));
        $('#wifi_form').css({
            'margin-top': '-' + offset + 'px',
            'min-height': parseInt($('#wifi_form').parent('div').prev().height()) + 'px'
        });
        var $wifi_form_step = $('#wifi_form_step');

        $(document).on('submit', 'form[data-form=carrier]', function (e) {
            e.preventDefault();
            $._loader();
            var form = $(this);

            $.ajax({
                url: "{{ path('select_carrier_for_pin_code_form') }}",
                method: "POST",
                data: form.serialize(),
                success: function (result) {
                    $._loader(true);
                    if (result.data.success) {
                        $wifi_form_step.html($wifi_form_step.html('{{ html2string(wifi_phone.render()) }}').text());
                        form.attr('data-form', 'pin');
                    } else {
                        showAlert({title: result.data.message});
                    }
                }
            });

        });

        $(document).on('submit', 'form[data-form=pin]', function (e) {
            e.preventDefault();
            $._loader();
            var form = $(this);

            $.ajax({
                url: "{{ path('send_sms_pin_code') }}",
                method: "POST",
                data: form.serialize(),
                success: function (result) {
                    $._loader(true);
                    if (result.data.success) {
                        var input_phone = $('input[name=mobile_number]');
                        input_phone.addClass('d-none');
                        $wifi_form_step
                            .html($wifi_form_step.html('{{ html2string(wifi_pin.render()) }}').text())
                            .append(input_phone);
                        form.attr('data-form', 'confirm');
                    } else {
                        showAlert({title: result.data.message});
                    }
                }
            });
        });

        $(document).on('submit', 'form[data-form=carrier_with_pin]', function (e) {
            e.preventDefault();
            $._loader();
            var form = $(this);

            $.ajax({
                url: "{{ path('select_carrier_with_send_pin_code') }}",
                method: "POST",
                data: form.serialize(),
                success: function (result) {
                    $._loader(true);
                    if (result.data.success) {
                        var input_phone = $('input[name=mobile_number]');
                        input_phone.addClass('d-none');
                        $wifi_form_step
                            .html($wifi_form_step.html('{{ html2string(wifi_pin.render()) }}').text())
                            .append(input_phone);
                        form.attr('data-form', 'confirm');
                    } else {
                        showAlert({title: result.data.message});
                    }
                }
            });
        });

        $(document).on('submit', 'form[data-form=confirm]', function (e) {
            e.preventDefault();
            $._loader();
            var form = $(this);

            $.ajax({
                url: "{{ path('confirm_sms_pin_code') }}",
                method: "POST",
                data: form.serialize(),
                success: function (result) {
                    $._loader(true);
                    if (result.data.success) {
                        window.location = result.data.redirectUrl;
                    } else {
                        showAlert({title: result.data.message});
                    }
                }
            });
        });
    </script>
{% endmacro %}