{% macro render() %}
    {% import '@App/Components/Buttons/button.html.twig' as button %}
    {% import '@App/Components/Forms/wifi_phone.html.twig' as wifi_phone %}
    {% import '@App/Components/Forms/wifi_pin.html.twig' as wifi_pin %}
    {% import '@App/Components/Forms/wifi_select.html.twig' as wifi_select %}

    <form data-form="pin" id="wifi_form"
          class="d-flex flex-column w-75 text-center">
        <div class="wifi_form__ground"></div>
        <div class="align-self-center wifi_form__warning w-75">
            {{ translate('wifi.warning') }}
        </div>
        <div id="wifi_form_step">
            {% if not isCarrierDetected() %}
                {{ wifi_select.render() }}
            {% endif %}
            {{ wifi_phone.render() }}
        </div>
        <div id="wifi_button">
            {{ button.renderSubmitButton(translate('buttons.subscribe'), 'x-send-pin-button') }}
        </div>
        <div class="">
            <span id="wifi_offer">{% if isCarrierDetected() %}{{ translate('wifi.offer') }}{% endif %}</span>
        </div>
        <div class="mt-3">
            <label class="terms_confirmation">
                <input type="checkbox" required value="0"/>
                {{ translate('wifi.terms_confirmation', {'%terms_url%': path('terms_and_conditions')}) | raw }}
            </label>
        </div>
    </form>

    <script type="text/javascript">
        $('.x-subscribe-image').removeAttr('href').removeAttr('class');

        var form = $('#wifi_form');

        $(document).ready(function () {
            // move form to designed position (the best designer ever)
            var height      = parseFloat(window.getComputedStyle(form.parent('div').prev().get(0)).height);
            var padding_top = parseFloat(window.getComputedStyle(form.parent('div').get(0)).paddingTop);
            var margin_top  = parseFloat(window.getComputedStyle(form.parent('div').get(0)).marginTop);
            var offset      = height + padding_top + margin_top;
            form.css({
                'margin-top': '-' + offset + 'px',
                'min-height': parseInt(form.parent('div').prev().height()) + 'px'
            });
        });

        var $wifi_form_step = $('#wifi_form_step');
        var $wifi_warning   = $('.wifi_form__warning');
        var phone;
        var input_phone     = $('input[name=mobile_number]');

        var params = {
            html_wifi_phone: $('<div />').html('{{ html2string(wifi_phone.render()) }}').text(),
            html_wifi_pin  : $('<div />').html('{{ html2string(wifi_pin.render()) }}').text(),
            pin_notif      : $('<div />').html('{{ html2string(translate('wifi.pin_notif')|nl2br) }}').text(),
            warning        : $('<div />').html('{{ html2string(translate('wifi.warning')|nl2br) }}').text()
        };

        $(document).on('change', 'select[name="carrier_id"], select[name="country"]', function () {
            var carrier = $(this).find(':selected').data('content');
            $('#wifi_offer').html( (carrier && carrier.wifi_offer) || '');

            $('footer ul').remove();
            $('#landing-offer-container').addClass('mt-2').html('');

            if (carrier) {
                $._loader();

                $.ajax({
                    url    : "{{ path('select_carrier_wifi') }}",
                    method : "POST",
                    data   : { carrier_id: carrier.billingCarrierId },
                    success: function (result) {
                        $._loader(true);

                        if (result.data.success) {
                            $('footer').prepend(result.data.annotation);
                            $('#landing-offer-container').removeClass('mt-2').html(result.data.offer);
                        } else {
                            showAlert({title: result.data.message});
                        }
                    }
                });
            }
        });

        // send pin code to input phone
        $(document).on('submit', 'form[data-form=pin]', function (e) {
            e.preventDefault();
            $._loader();
            phone = input_phone.val();
            $(document).unbind("ajaxSuccess"); // hook for re-send pin

            $.ajax({
                url    : "{{ path('send_sms_pin_code') }}",
                method : "POST",
                data   : form.serialize(),
                success: function (result) {
                    $._loader(true);

                    if (result.data.redirectUrl) {
                        window.location = result.data.redirectUrl;
                        return;
                    }
                    
                    if (result.data.success) {
                        input_phone.addClass('d-none');
                        $wifi_form_step
                            .html(params.html_wifi_pin)
                            .append(input_phone);
                        addValidationAttributes(result.data.carrierId);
                        form.attr('data-form', 'confirm');
                        $wifi_warning.html(params.pin_notif.replace(/%wifi_phone%/, phone));
                    } else {
                        showAlert({title: result.data.message});

                        $('#send-reminder').click(function () {
                            $.ajax({
                                url: "{{ path('remind_credentials') }}",
                                method: 'GET',
                                complete: function () {
                                    $('.fc-content .button-confirm').click();
                                }
                            })
                        })
                    }
                }
            });
        });

        // confirm pin code
        $(document).on('submit', 'form[data-form=confirm]', function (e) {
            e.preventDefault();
            $._loader();

            $.ajax({
                url    : "{{ path('confirm_sms_pin_code') }}",
                method : "POST",
                data   : form.serialize(),
                success: function (result) {
                    $._loader(true);
                    if (result.data.success) {
                        window.location = result.data.redirectUrl;
                    } else {
                        showAlert({title: result.data.message});
                    }
                }
            });
        });

        // re-send pin code
        $(document).on('click', '#resend-pin', function (event) {
            event.preventDefault();
            var form = $(this).closest('form');
            var resendPinMarker = $('<input type="hidden" name="resend-pin" />');

            form.append(resendPinMarker);

            $(this).closest('form').attr('data-form', 'pin').submit();

            resendPinMarker.remove();

            $(document).ajaxSuccess(function (event, request, settings) {
                if (settings.url === '{{ path('send_sms_pin_code') }}') {
                    showAlert({title: 'New PIN-code', message: 'has been successfully sent'});
                }
            });
        });

        // change phone number
        $(document).on('click', '#change-number', function (event) {
            event.preventDefault();
            $._loader();
            $wifi_form_step.html(params.html_wifi_phone);
            $wifi_warning.html(params.warning);
            form.attr('data-form', 'pin');
            $('input[name=mobile_number]').val(phone);
            $._loader(true);
        });

        $(document).on('focus', 'input[name=mobile_number]', function () {
            if ($(this).val() === '') {
                $(this).val('+');
            }
        });

        $(document).on('blur', 'input[name=mobile_number]', function () {
            if ($(this).val() === '+') {
                $(this).val('');
            }
        });

        // TODO find more flexible way to apply validation attributes
        function addValidationAttributes(carrierId) {
            var pinPatterns = {
                2253: '^[1-9][0-9]{5}$',
                2254: '^[1-9][0-9]{5}$'
            };

            if (pinPatterns[carrierId]) {
                $("input[name='pin_code']").attr('pattern', pinPatterns[carrierId])
            }
        }
    </script>
{% endmacro %}