<div class="row">
    <div class="col-xs-12">
        <!-- REQUEST INFORMATION -->
        <h2>Request information</h2>
        <ol>
            {% for header, value in requestHeaders %}
                <li><strong>{{ header|capitalize }}</strong>: {{ value[0] }}</li>
            {% endfor %}
        </ol>

        <!-- USER SUBSCRIPTION -->
        {% if user is not null %}
            <hr/>
                <h2>User information</h2>
                <ol>
                    <li>Country: {{ user.getCountry() }}</li>
                    <li>Carrier: {{ user.getCarrier().getName() }}</li>
                    <li>ALIAS: {{ user.getIdentifier() }}</li>
                    <li>IP: {{ user.getIp() }}</li>
                </ol>
            <hr/>
                <h2>Device information</h2>
                <ol>
                    <li>Manufacturer: {{ deviceDetection.deviceVendor | default('Unknown') }}</li>
                    <li>Model: {{ deviceDetection.deviceModel | default('Unknown') }}</li>
                    <li>Marketing name: {{ deviceDetection.deviceName | default('Unknown') }}</li>
                    <li>Device Atlas ID: {{ deviceDetection.deviceId | default('Unknown') }} </li>
                    <li>Language: {{ app.request.locale }}</li>
                </ol>
            <hr/>
                <h2>Location information</h2>
                <ol>
                    <li>IP: {{ app.request.clientIp }}</li>
                    <li>Country: {{ maxMindIpInfo.getCountry() | default('Unknown') }}</li>
                    <li>Carrier: {{ maxMindIpInfo.getCarrier() | default('Unknown') }} </li>
                    <li>Connection Type: {{ maxMindIpInfo.getConnectionType()|default('Unknown') }} </li>
                </ol>
            <hr/>

                <h2>User subscription</h2>
            <ol>
                {% if subscription %}
                    <li>Subscribed</li>
                    <li>
                        id: {{ subscription.getUuid() }}</li>
                    <li>Status: {{ subscription.getHumanReadableStatus() }}
                        {% if subscription.getError() %} / {{ subscription.getError() }}{% endif %}
                    </li>
                    <li>State: {{ subscription.getHumanReadableStage() }}</li>
                    <li>Date of subscription: {{ subscription.getCreated()|date('d-m-Y') }}</li>
                    <li>Expires at: {{ subscription.getRenewDate()|date('d-m-Y') }}</li>
                    {#<li>Credits: {{ subscription.getCounterUsed() }} used and {{ subscription.getAllowedCount() }}#}
                        {#available#}
                    {#</li>#}
                {% else %}
                    <li>User hasn't subscriptions</li>
                {% endif %}
            </ol>


        {% endif %}

        {% if campaign %}
            <hr/>
            <h2>Campaign information</h2>
            <ol>
                <li>Сampaign ID: {{ campaign.getUuid() }}</li>
                <li>Сampaign URL: {{ campaign.getLandingUrl() | default('-') }} </li>
                <li>Affiliate ID: {{ campaign.getAffiliate().getUuid() | default('-') }}</li>
                <li>Affiliate name: {{ campaign.getAffiliate().getName() | default('-') }}</li>
                <li>Notification URL: {{ campaign.getAffiliate().getPostbackUrl() | default('-') }}</li>
            </ol>
        {% endif %}

        <hr/>


        <h2>Comment</h2>
        <ol>
            <li>User email: {{ email }}</li>
            <li>Comment: {{ comment }}</li>
        </ol>
    </div>
</div>

