{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="flex-column">
        <h2> 1/{{ translate('terms.block_1.title.1') }} </h2>
        <p> {{ translate('terms.block_1.text.1') }} </p>

        <h2> 2/{{ translate('terms.block_2.title.1') }} </h2>
        <p> {{ translate('terms.block_2.text.1') }} </p>

        <h2> 3/{{ translate('terms.block_3.title.1') }} </h2>
        <h3> 3/a{{ translate('terms.block_3.title.1.1') }} </h3>
        <p> {{ translate('terms.block_3.text.1') }} </p>
        <p> {{ translate('terms.block_3.text.2') }} </p>
        <p> {{ translate('terms.block_3.text.3') }} </p>

        <h2> 4/{{ translate('terms.block_4.title.1') }} </h2>
        <p> {{ translate('terms.block_4.text.1') }} </p>

        <h2> 5/{{ translate('terms.block_5.title.1') }} </h2>
        <p> {{ translate('terms.block_5.text.1') }} </p>
        <p> {{ translate('terms.block_5.text.2') }} </p>
        <p> {{ translate('terms.block_5.text.3') }} </p>
        <p> {{ translate('terms.block_5.text.4') }} </p>

        <h2> 6/{{ translate('terms.block_6.title.1') }} </h2>
        <p> {{ translate('terms.block_6.text.1') }} </p>
        <p> {{ translate('terms.block_6.text.2') }} </p>

        <h2> 7/{{ translate('terms.block_7.title.1') }} </h2>
        <p> {{ translate('terms.block_7.text.1') }} </p>
        <p> {{ translate('terms.block_7.text.2') }} </p>

        <h2> 8/{{ translate('terms.block_8.title.1') }} </h2>
        <p> {{ translate('terms.block_8.text.1') }} </p>
        <p> {{ translate('terms.block_8.text.2') }} </p>
        <p> {{ translate('terms.block_8.text.3') }} </p>

        <h2> 9/{{ translate('terms.block_9.title.1') }} </h2>
        <p> {{ translate('terms.block_9.text.1') }} </p>
        <p> {{ translate('terms.block_9.text.2') }} </p>
        <p> {{ translate('terms.block_9.text.3') }} </p>

        <h2> 10/{{ translate('terms.block_10.title.1') }} </h2>
        <p> {{ translate('terms.block_10.text.1') }} </p>

        <h2> 11/{{ translate('terms.block_11.title.1') }} </h2>
        <p> {{ translate('terms.block_11.text.1') }} </p>

        <h2> 12/{{ translate('terms.block_12.title.1') }} </h2>
        <p> {{ translate('terms.block_12.text.1') }} </p>
    </div>
{% endblock %}