{% extends '@App/Impl/TMobilePolandDimoco/payment_base.html.twig' %}
{% import importTemplate("Common/LP/Sections/banner_section.html.twig") as banner_section %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .confirm-payment-button {
            font-size: 15px;
        }

        .payment-banner {
            background-image: url("/img/carriers/tmobile-poland-dimoco/lp/lp_banner.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 160px;
        }

        @media screen and (max-height: 660px) {
            .payment-banner {
                height: 140px;
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(() => {
            $('#payment-confirm-form').submit((event) => {
                event.preventDefault();

                $._loader(false);
                window.location.href = "{% if isIdentified() %}{{ url('subscription.subscribe') }}{% else %}{{ url('identify_and_subscribe') }}{% endif %}";
            })
        })
    </script>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column w-100 mt-1">
        <div>
            {% if getCampaignData('banner') %}
                <img src="{{ getCampaignData('banner') }}" class="w-100 payment-banner" alt="banner">
            {% else %}
                <div class="w-100 payment-banner"></div>
            {% endif %}
        </img>
        <div class="payment-text pl-3 mt-2">
            <p>
                <span>100% Sport</span> <br>
                <span>{{ translate('payment.offer') }}</span>
            </p>
            <p>Opłata będzie pobierana co 13 zł / tydzień</p>
        </div>
        <div class="payment-text pr-3 pl-3">
            <p>{{ translate('payment.info.1', {'%terms_url%': path('terms_and_conditions')}) | raw }}</p>
            <p>{{ translate('payment.info.2') }}</p>

            <form id="payment-confirm-form">
                <div class="payment-text">
                    <label>
                        <input type="checkbox" required>
                        <span>{{ translate('payment.info.3') }}</span>
                    </label>
                </div>
                <p>Zapoznaj się z treścią regulaminu <a href="{{ path('terms_and_conditions') }}">100% Sport</a></p>
                <div class="mt-3 mb-4 text-center">
                    <button
                            type="submit"
                            class="confirm-payment-button"
                    >
                        {{ translate('payment.button') }}
                    </button>
                </div>
            </form>
            <p>{{ translate('payment.info.4') }}. <a onclick="$('#Więcej').toggle(); return false;" href="#">Więcej</a></p>
            <p id="Więcej" class="collapse">{{ translate('payment.info.5') }}</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock footer %}