{% macro render() %}

    <link href="{{ asset('/css/navbar.css') }}" rel="stylesheet">

    <div class="sidebar-nav">
        <div class="d-flex align-items-center justify-content-center sidebar-nav_header">
            <div class="nav-logo">
                {#<img class="img-fluid" src="{{ asset('img/header/lp_logo.png') }}" alt=""/>#}
            </div>
            <div class="sidebar-nav_close" onclick="closeSidebarMenu()"></div>
        </div>

        {#<div class="b-header-block m-search">#}
        {#{{ render(controller('AppBundle:Default:searchBar')) }}#}
        {#</div>#}

        <ul class="navbar-list">

            <span>
                <li class="nav-item pages-link">
                    <a class="nav-item_link" href="{{ path('account') }}">
                        {{ translate('navbar.menu.account') }}
                    </a>
                </li>
                <li class="nav-item pages-link-last">
                    <a class="nav-item_link" href="{{ path('index') }}">
                        {{ translate('navbar.menu.home') }}
                    </a>
                </li>
            </span>

            {% for item in getMenuElements() %}

                <li class="nav-item">
                    <div class="d-flex flex-row">
                        <div>
                            <a class="nav-item_link" href="{{ item.link }}">
                                {{ item.title }}
                            </a>
                        </div>
                        {#<div style="margin-left: auto" class="x-expand-button expand-button">
                            <i class="fas fa-chevron-down open-icon"></i>
                            <i class="fas fa-chevron-up close-icon"></i>
                        </div>#}
                    </div>
                    {#{% if item.subitems is defined %}
                        <div style="display: none" class="x-submenus-list">
                            {% for subitem in item.subitems %}
                                <a href="{{ subitem.link }}" class="nav-item_subitem">
                                    {{ subitem.title }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}#}
                </li>
            {% endfor %}


            <li class="nav-item">
                <a class="nav-item_link" href="{{ path('game_category') }}">
                    {{ translate('navbar.menu.sport_games') }}
                </a>
            </li>

                <li class="nav-item pages-link">
                    <a class="nav-item_link" href="{{ path('faq') }}">
                        {{ translate('navbar.menu.faq') }}
                    </a>
                </li>

                <li class="nav-item pages-link">
                    <a class="nav-item_link" href="{{ path('terms_and_conditions') }}">
                        {{ translate('navbar.menu.terms') }}
                    </a>
                </li>

                <li class="nav-item pages-link-last">
                    <a class="nav-item_link" href="{{ path('contact_us') }}">
                        {{ translate('navbar.menu.contacts') }}
                    </a>
                </li>

        </ul>
    </div>

    <script>

        $(document).on('click', '.x-expand-button', toggleSubcategories);

        function toggleSubcategories() {
            var element = $(this);
            var parent  = element.parents('.nav-item');
            parent.find('.x-submenus-list').toggle();
            element.toggleClass('active')
        }

        function openSidebarMenu() {
            $('.sidebar-nav').addClass('activeSidebar');
            $('sidebar-nav_close').removeClass('activeSidebar');
            $('html, body').css({
                overflow: 'hidden',
            });
            $('body').append('<div class="clickOff" onclick="closeSidebarMenu()"></div>');
        }

        function closeSidebarMenu() {
            $('.sidebar-nav').removeClass('activeSidebar');
            $('html, body').css({
                overflow: 'auto',
            });
            $('.clickOff').remove();
        }
    </script>

{% endmacro %}