{% extends '@App/base.html.twig' %}
{% import importTemplate("Components/Blocks/Header/header_lp.html.twig") as  header %}
{% import importTemplate("Components/Blocks/Footer/annotation.html.twig") as  annotation %}
{% import importTemplate("Components/Blocks/Footer/menu.html.twig") as  footer_menu %}

{# IMPORT SECTIONS #}
{% import importTemplate("Common/LP/Sections/banner_section.html.twig") as banner_section %}
{% import importTemplate("Common/LP/Sections/Wifi/subscribe_button_section.html.twig") as subscribe_button_section %}
{% import importTemplate("Common/LP/Sections/Wifi/offer_section.html.twig") as offer_section %}
{% import importTemplate("Common/LP/Sections/icons_chanel_section.html.twig") as icons_chanel_section %}
{% import importTemplate("Common/LP/Sections/lure_text_section.html.twig") as lure_text_section %}
{# END IMPORT SECTIONS #}

{% block header_content %}
    {{ header.render() }}
{% endblock header_content %}

{% block javascripts %}
    {{ parent() }}
    {{ addJs(asset('js/lp.js')) }}
    {% include importTemplate("Common/LP/wifi_subscribe_block_js.html.twig") %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/lp.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="d-flex flex-column align-items-center justify-content-top w-100" style="background: {{ getCampaignData('background') }}">

        <!-- BANNER SECTION WITH SUB IMAGE -->
        {{ banner_section.render() }}
        <!-- END BANNER SECTION WITH SUB IMAGE -->

        <!-- SUBSCRIBE BUTTON SECTION -->
        {{ subscribe_button_section.render('buttons.subscribe', 'btn-lp_big') }}
        <!-- END SUBSCRIBE BUTTON SECTION -->

        <!-- OFFER SECTION -->
        {{ offer_section.render() }}
        <!-- END OFFER SECTION -->

        <!-- ICONS CHANEL SECTION -->
        {{ icons_chanel_section.render() }}
        <!-- END ICONS CHANEL SECTION -->

        <!-- LURE TEXT SECTION  -->
        {{  lure_text_section.render() }}
        <!-- END LURE TEXT SECTION -->

    </div>
{% endblock body %}

{% block footer_content %}
    {% if isCarrierDetected() %}
        {{ annotation.render() }}
    {% endif %}
    <div id="terms-and-conditions" tabindex="1">
        <span>
            <input name="terms" id="terms-and-conditions-checkbox" type="checkbox" required/>
            {{ translate('wifi.terms_confirmation', {'%terms_url%': path('terms_and_conditions')}) | raw }}
        </span>
    </div>
    {{ footer_menu.render() }}
{% endblock footer_content %}