{% macro render(aMenuLinks) %}


    <div class="d-flex justify-content-around footer-menu">
        {% for menuLink in aMenuLinks %}
            <a class="footer-menu_link" href="{{ menuLink.link }}">
                <button>{{ menuLink.title }}</button>
            </a>
        {% endfor %}
        <a class="col footer-menu_link" href="{{ path('contact_us') }}">
            <button>{{ translate('menu.footer.contact_us') }}</button>
        </a>
        <a class="col footer-menu_link" href="{{ path('faq') }}">
            <button>{{ translate('menu.footer.faq') }}</button>
        </a>
        <a class="col footer-menu_link" href="{{ path('terms_and_conditions') }}">
            <button>{{ translate('menu.footer.terms') }}</button>
        </a>
    </div>
{% endmacro render %}